<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="F:/Prjct/WebDriverPracticalTask">
        <classes>
            <class name="com.epam.training.student_andrii_dolhopolov.AppTest">
                <methods>
                    <include name="ukrNetCorrectLoginAndPasswordTest"/>
                    <include name="ukrNetWrongLoginAndPasswordTest"/>
                    <include name="ukrNetEmptyPasswordTest"/>
                    <include name="SendReceiveEmailTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>